<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <p>下にあるのは、これまで挑戦してきた問題だよ。</p>
        <p>ボタンを押すと、問題に飛べるよ。</p>
        <p>問題を振り返ってみよう。</p>
        <br>

        <form action="/" method="GET">
            <input type="submit" value="最初のページ">
        </form>
        <br>
        <form action="/intro" method="GET">
            <input type="submit" value="アプリについての説明">
        </form>
        <br>
        <br>


        <table style="border:none;">
            <tbody style="border:none;">
                <tr style="border:none;">
                    <td style="border:none;">
                        <form action="/question1" method="GET">
                            <input type="submit" value="第１問（HelloWorld）">
                        </form>
                    </td>
                    <td style="border:none;"></td>
                    <td style="border:none;">
                        <form action="/question6" method="GET">
                            <input type="submit" value="第６問（変数の上書き）">
                        </form>
                    </td>
                </tr>

                <tr style="border:none;">
                    <td style="border:none;">
                        <form action="/question2" method="GET">
                            <input type="submit" value="第２問（数値と計算方法）">
                        </form>
                    </td>
                    <td style="border:none;"></td>
                    <td style="border:none;">
                        <form action="/question7" method="GET">
                            <input type="submit" value="第７問（型変換）">
                        </form>
                    </td>
                </tr>

                <tr style="border:none;">
                    <td style="border:none;">
                        <form action="/question3" method="GET">
                            <input type="submit" value="第３問（複雑な計算方法）">
                        </form>
                    </td>
                    <td style="border:none;"></td>
                    <td style="border:none;">
                        <form action="/question8" method="GET">
                            <input type="submit" value="第８問（条件分岐 if）">
                        </form>
                    </td>
                </tr>

                <tr style="border:none;">
                    <td style="border:none;">
                        <form action="/question4" method="GET">
                            <input type="submit" value="第４問（変数の入門）">
                        </form>
                    </td>
                    <td style="border:none;"></td>
                    <td style="border:none;">
                        <form action="/question9" method="GET">
                            <input type="submit" value="第９問（条件分岐 else）">
                        </form>
                    </td>
                </tr>

                <tr style="border:none;">
                    <td style="border:none;">
                        <form action="/question5" method="GET">
                            <input type="submit" value="第５問（変数を自分で決めてみよう）">
                        </form>
                    </td>
                    <td style="border:none;"></td>
                    <td style="border:none;">
                        <form action="/question10" method="GET">
                            <input type="submit" value="第10問（条件分岐 elif）">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>

        <form action="/zatu" method="GET">
            <input type="submit" value="最後のページ">
        </form>
        <br>
    </center>


</body>

</html>