<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css"
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
    <h1>Python学習アプリへようこそ！</h1>
    <br>
        <img src="imagebox/study.png" alt="ごめんね。読み込めなかったよ。" class="mw-100">
        <!-- height="550"がちょうど良いかも。 -->
    <p>このアプリでは<b>Python</b>について学習することができるよ。</p>
    <p>「プログラミングをやったことがないよ」って人でも大丈夫！</p>
    <p >難しそうに感じるかもしれないけど、心配はいらないよ。1つ1つ丁寧に学んでいこう！</p>
    <br>
    <p>準備ができたら下のボタンを押してみよう。</p>
    <form action="/intro" method="GET">
        <button type="submit" class="btn btn-info">次のページへ</button>
    </form>
    </center>

</body>

</html>

