{% extends "base.html" %}
<!-- この間に書かれたものは、別のhtmlにも引き継げる。 -->
{% block content %}
<center>
    <br><br><br><br><br><br>
    <h2>Pythonの学習は、これで終了です。</h2><br>
    <h2>ここまでよくがんばりました！</h2><br>
    <br>
    これからpythonの学習を進めるときに、わからないことに何度も出くわすと思います。<br>
    そのときは、またここに戻ってきてください！<br>
    きっとお役に立てると思います。<br><br>
    振り返りたい問題があれば、<a href="/debug"><font size="5">こちら</font></a>からどうぞ！<br>
    
    
    <br><br><br>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <b><u>アンケートも忘れずに回答をお願いします。（製作者より）</u><br><br><br>
        <p>（最終更新日：2025/09/25）</p>
    </div>

</center>
{% endblock %}